

    <h1 class="title">Nice to see you again</h1>

    <div class="log">

         <!-- utilisation de composant réutilisable (input) -->
            <label for="email">Login</label>
            <app-input class="login" label="enter login" placeholder="Email or phone number"></app-input>
        
            <label for="password">Password</label>
            <app-input label="password" placeholder="Enter password" type="password"></app-input>
        
    </div>

    <div class="remember">
        <div class="rememberLeft">
            <input class="apple-switch" type="checkbox">
            <p>Remember me</p>
        </div>
        
   
        <button (click)="onForgetPassword()" type="submit" class="textRight">
            <p>Forgot password?</p>
        </button>
    </div>

    <!-- utilisation de composant réutilisable (button) -->
    <div class="submit">

        <app-button className="primary">
        Sign in
        </app-button>
    
        <hr />

        <app-button className="secondary">
          <img src="assets/login_wrap/logo-google.png" alt=""> Or sign in with google 
        </app-button>

<!--         autre moyen pour modifier un bouton -> si je souhaite juste changer la couleur directement
        <app-button color="#000000" (clickEmitter)="actionEcouteur()">
            Or sign in with google
        </app-button> -->
    </div>

    <div class="noAccount">
        <p>
            Don't have an account?
            <span class="textBlue" (click)="onRegister()">Sign up now</span>
        </p>
    </div>


