<section class="container">

    <div class="item1">
        <img class= "fond" src="/assets/container/image-fond.png" alt="fond">
    </div>

    <div class="item2">
        <div class="item2_login_wrap">
            <img class="avatar" src="/assets/login_wrap/avatar-ui.png" alt="Avatar">
            <h3 class="title">UI Unicorn</h3>
            <h2 class="title">Nice to see you again</h2>
            <p class="text">Login</p>
            <input class = "input" type="email" name="Email" id="Email or phone number">
            <p class="text">Password</p>
            <input class = "password" type="password" name="password" id="Enter password">
            <img class= "password" src="/assets/login_wrap/input-icons-eyes.png" alt="eyes">
            <!-- //<toggleswitch></toggleswitch> -->
            <p class="text">Remember me</p>
            <p class="forget">Forget password</p>
            <input class="button" type="button" value="Sign in">
            <img class = "button" src="/assets/login_wrap/button-signin.png" alt="button-signin">
            <input class = "google" type="button" value="Or sign in with google">
            <img class="google" src="/assets/login_wrap/logo-google.png" alt="logo google">
            <p class="text">Don't have an account?</p><p class="text blue">Sign up now</p>
        </div>

        <div class="footer">
            <footer class="footer">
                <img class = "footer" src="/assets/login_wrap/Figma.png" alt="Figma">
                <p class="text blue">@uiunicorn</p>
                <p class="text">Perfect login 2021</p>
            </footer>
         </div>

    </div>


   

</section>
