<main>
    <div class="containerBackground">
        <img src="/assets/container/image.png" alt="fond">
    </div>

    <div class="containerSide">
        <div class="entete">
            <img class="avatar" src="/assets/login_wrap/logo.png" alt="Avatar">
            <h2 class="title"><a  routerLink="/login">Unicorn</a></h2>
            
        <!-- Je voulais le faire via un click sur le logo, mais le css devient degueu  -->
        <!-- <img (click)="onLogin()" class="avatar" src="/assets/login_wrap/avatar-ui.png" alt="Avatar">
        <router-outlet></router-outlet> -->
        </div>

       <!-- ça mets un peu le basard ce button pour arriver à la page login -->
        <!-- <div class="submit">
            <app-button className="primary">
            <a routerLink="login">Sign in</a>
            </app-button>
        <router-outlet></router-outlet>
        </div> -->

        <!-- me permets de faire le lien localhost/4200/login  -->
        <router-outlet></router-outlet>
    

        <div class="footer">
            <div class="footerleft">
                <img class="footerleft" src="/assets/login_wrap/Figma.png" alt="Figma">
                <p class="textBlue">@uiunicorn</p>
            </div>

            <p>© Perfect login 2021</p>
        </div>
    </div>
</main>