<main>
    <div class="containerBackground">
        <img src="/assets/container/image-fond.png" alt="fond">
    </div>

    <div class="containerSide">
        <div class="entete">
            <img class="avatar" src="/assets/login_wrap/avatar-ui.png" alt="Avatar">
            <h2 class="title">UI Unicorn</h2>
        </div>

        <router-outlet></router-outlet>

        <div class="footer">
            <div class="footerleft">
                <img class="footerleft" src="/assets/login_wrap/Figma.png" alt="Figma">
                <p class="textBlue">@uiunicorn</p>
            </div>

            <p>© Perfect login 2021</p>
        </div>
    </div>
</main>