h1 {
  font-family: 'Poppins' ;
  font-size: 1.4em;
  color: #F8F8F8;
}

form{
  display: flex;
  justify-content: space-between;
  background-color: #1E1F25;

}
.containerSide {
  background-color: #1E1F25;
  flex: 3;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

title {
  font-size: smaller;
}


p {
  font-size: 0.8em;
  color: #F8F8F8;
  background-color: #1E1F25;
}

label {
  font-size: 0.85em;
  background-color: #1E1F25;
  color: #F8F8F8;
}

.error {
  color: red;
  font-size: 1em;
  font-style: inherit;
}
 
select, option {
  width: 18%;
  display: flex;
  flex-direction: row;
  border: none;
  background-color: #333333;
  color:#F8F8F8 ;
}
