<div class="forgetContainer">
    <h1 class="title">Forget Password</h1>

    <div class="sendMail">
        <div class="log">
            <!-- utilisation de composant réutilisable (input) -->
            <label for="email">Enter your mail</label>
            <app-input class="login" label="enter login" placeholder="Email or phone number"></app-input>
        </div>

        <div class="submit">
            <app-button className="primary" (click)="onSend()">
            Send
            </app-button>
        </div>
    </div>
</div>