.forgetContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 16em;
}

.title {
    font-family: 'Poppins' ;
    font-size: 1.4em;
    color: #F8F8F8;
}

.sendMail {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    .log {
        display: flex;
        flex-direction: column;
        color: #F8F8F8;
        border: none;
        font-size: 0.7em;
        p {
            padding-left: 1em;
        }
    }

    .submit {
        color: black;
        border: none;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}


